body { background-color : #ffffff; font-family: sans-serif; font-size: 12pt; }
.full_page {
    position: absolute;
    top: 0px;
    height: 100%;
    left: 0px;
    right: 0px;
    /*  border: solid black 1px; */
    }
.title_bar {
    padding: 4px;
    text-align: center;
    background-color : #e0ffff;
    width: 100%
    /*  border: solid black 1px; */
}
.left_column {
    position: absolute;
    padding: 4px;
    top: 0px;
    margin-top: 60px;
    left: 0px;
    width: 125px;
    height:100%;
    background-color : #e0ffff;
    /*  border: solid black 1px; */
    }
.centre_column {
    margin-left: 133px;
    margin-right: 133px;
    background-color : #ffffff;
    /*  border: solid black 1px; */
    }

.right_column {
    position: absolute;
    padding: 4px;
    top: 60px;
    right: 0px;
    width: 125px;
    height: 100%;
    background-color : #e0ffff;
    /*  border: solid black 1px; */
    }

.proj_name { font-family: sans-serif; font-size: 12pt; 
    font-weight: bold; font-variant: small-caps; }

.section_head { font-family: sans-serif; font-size: 14pt;
    font-weight: bold; font-variant: small-caps }

.tool_heading { font-family: sans-serif; font-size: 12pt;
    font-weight: bold; left: 8px }

.menu_title { font-weight : bold; }
.curr_page { margin-left : 8px; }
.link_box { font-family: sans-serif; font-size: 10pt; margin-top : 1ex }
.link_box a { margin-left : 8px; }
.link_box a:link {
	background : transparent;
	padding : 2px
	}
.link_box a:active {
	background : transparent;
	padding : 2px
	}
.link_box a:visited {
	background : transparent;
	padding : 2px
	}
.link_box a:hover {
	color : #0080f0;
	text-decoration : none;
	background : transparent;
	border : 2px solid; border-color: #b0c0d0 #406080 #406080 #b0c0d0;
	padding : 0px
	}

.spacer { clear: both; }

.heading { font-family: sans-serif; font-size: 20pt; 
    font-weight: bold; font-variant: small-caps }
.logo { float: left; }
.logo img { width: 128px; Height:128px }
